* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
}

header {
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  position: fixed;
  width: 100%;
  padding: 10px 5%;
}

header nav ul li {
  text-decoration: none;
  display: inline;
  margin-inline: 10px;
}

a {
  text-decoration: none;
  color: white;
}

section{
  margin: 20px 5% 20px 5%;
  border-radius: 100%;
  display: flex;
}

img {
  width: 300px;
  border-radius: 10px;
  margin-top: 60px;
}

ol, ul {
  margin-left: 80px;
  text-decoration: none;
  line-height: 1.5;
  font-size: 20px;
}

.licoes {
  display: flex;
  margin-top: 100px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
}

aside, article {
  width: 49%;
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: green;
  color: white;
}